body {
  background-color: #aab5aa;
}



.Opener {
  color: #f2ff00;
  text-align: center;
  font-size: 30px;
}


.Opener:hover {


color: #fff;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
	
}


.pcontainer {
text-align: left; 
margin-right: 600px; 
text-indent: 20px;
}